{% extends "master.html" %}
{% block title %}project
{% endblock %}
{% block content %}

    <section id="dj and sound">
        <h2>DJ AND SOUND</h2>
       <h1>1</h1>
        <div class="diksha">
           <div>
             <img src="/static/firstDJ.avif"height="400"   width="400">
           </div>
            <div class="dikshaa">
             <p class="price">PRICE = Rs. 2000 per night and up    to   <br> 2 Top and 2 Base with DJ Floor</p> 
            </div>
        </div>
        <h1>2</h1>
      <div class="diksha">
        <div>
            <img src="/static/dj 3.jpeg" height="400"   width="400">
        </div>
        <div class="dikshaa">
            <p class="price">PRICE = Rs. 3000 per night and up    to   <br> 4 Top and 4 Base with  lighting DJ Floor </p>
        </div>
      </div>

      <h1>3</h1>
      <div class="diksha">
        <div>
            <img src="/static/dj 1.webp" height="400"   width="400">
        </div>
        <div class="dikshaa">
            <p class="price">PRICE = Rs. 5000 per night and up    to   <br> 6 Top and 4 Base with  lighting DJ Floor </p>
        </div>
      </div>

      <h1>4</h1>
      <div class="diksha">
        <div>
            <img src="/static/bhagbat.jpg" height="400"   width="400">
        </div>
        <div class="dikshaa">
            <p class="price">  Bhagbat Sound <br>PRICE = Rs. 4000 per day</p>
        </div>
      </div>


      <h1>5</h1>
      <div class="diksha">
        <div>
            <img src="/static/djmore.jpg" height="400"   width="400">
        </div>
        <div class="dikshaa">
            <p class="price">  Contact For Other <br>DJ & SOUND</p>
        </div>
      </div>
          
       
       
        
    </section>
{% endblock %}