{% extends "master.html" %}
{% block title %}project
{% endblock %}
 {% block content %}
    <section id="fitting">
        <h2>FITTING</h2>
        <h1>1</h1>
         <div class="diksha">
            <div>
              <img src="/static/fitting1.webp"height="450"   width="450">
            </div>
             <div class="dikshaa">
              <p class="price"> Simple Point Rate=130 </p> 
             </div>
         </div>

         <h1>2</h1>
         <div class="diksha">
            <div>
              <img src="/static/fitting2.webp"height="450"   width="450">
            </div>
             <div class="dikshaa">
              <p class="price"> Power Point Rate=240 </p> 
             </div>
         </div>

         <h1>3</h1>
         <div class="diksha">
            <div>
              <img src="/static/fitting3.webp"height="450"   width="450">
            </div>
             <div class="dikshaa">
              <p class="price">Down Celling Point Rate=260 </p> 
             </div>
         </div>

         <h1>4</h1>
         <div class="diksha">
            <div>
              <img src="/static/fitting4.webp"height="450"   width="450">
            </div>
             <div class="dikshaa">
              <p class="price">Point Rate With Material=900 </p> 
             </div>
         </div>

{% endblock %}