{% extends "master.html" %}
{% block title %}project
{% endblock %}
 {% block content %}
    <section id="lighting">
        <h2>LIGHTING</h2>
        <h1>1</h1>
         <div class="diksha">
            <div>
              <img src="/static/lightt2.jpg"height="400"   width="400">
            </div>
             <div class="dikshaa">
              <p class="price"> PRICE= Rs 10/ single led pixel </p> 
             </div>
         </div>

         <h1>2</h1>
         <div class="diksha">
            <div>
              <img src="/static/lightt1.jpeg"height="400"   width="400">
            </div>
             <div class="dikshaa">
              <p class="price"> PRICE= Rs 20/ multi color  led pixel </p> 
             </div>
         </div>

         <h1>3</h1>
         <div class="diksha">
            <div>
              <img src="/static/lightt3.jpg"height="400"   width="400">
            </div>
             <div class="dikshaa">
              <p class="price"> PRICE= Rs 30/  led pixel </p> 
             </div>
         </div>
{% endblock %}