{% extends "master.html" %}
{% block title %}project
{% endblock %}
 {% block content %}
    <section id="map">
        <center><h2 style=background-color:rgb(0,80,137)>LOCATION</h2></center>
        <br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.2229659174127!2d76.32459707491317!3d31.463052193059042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391ad1c8381fa2d7%3A0xb57eb4b4b609b481!2sRana%20Flour%20Mill%20(Atta%20Chakki)!5e0!3m2!1sen!2sin!4v1686025363593!5m2!1sen!2sin" width="600" height="450" frameborder="0" allowfullscreen="" ></iframe>
        </section>
{% endblock %}