{% extends "master.html" %}
{% block title %}project
{% endblock %}
 {% block content %}
    <section id="service">
      <center> <h1 style=background-color:aliceblue> Services Offered By Us:</h1>
      </center>
        

    <h2><a href="/dj and sound">1.DJ AND SOUND </a></h2>
    <br>
    <img src="/static/dj-intro.jpg" height="300px" width="300px">
    <br>
    <br>
    <h2><a href="/lighting">2.LIGHTING</a></h2>
    <br>
    <img src="https://i.pinimg.com/originals/e7/8d/c2/e78dc2decb034f4ecb358870f6be5011.jpg" height="300px" width="300px">
    <br>
    <br>
    <h2><a href="/fitting">3.FITTING</a></h2>
    <br>
    <img src="https://images.unsplash.com/photo-1621905251918-48416bd8575a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZWxlY3RyaWNhbHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" height="300px" width="300px" >
    <br>
    <br>
    <h2><a href="/repair">4.REPAIR</a></h2>
    <br>
    <img src="https://i.ytimg.com/vi/vRoNVTYBOE0/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA9IuYcbxFR7gtVa5cwwLYIX1kJ5Q" height="300px" width="300px">
    
   </section>
    {% endblock %}  